@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

@font-face {
    font-family: berlinsans;
    src: url(font/berlinsans.ttf);
}

/*------------------------------------------------------------------------ HOME */
/*----------------------- HERO */
.home {
    width: 100%;
    height: 100%;
    background-image: url(img/home/hero/sidney.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.header {
    width: 1020px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    text-shadow: 6px 6px 8px rgb(68, 68, 68);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 100%;
    background-image: url(img/home/hero/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-title {
    font-size: 30px;
    font-family: berlinsans, sans-serif;
    color: white;
    margin-left: 30px;
}

.navbar {
    width: 50%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.home-container {
    width: 1020px;
    margin: auto;
    position: relative;
}

.home-items {
    position: absolute;
    right: 0;
}

.home-hero-text {
    text-align: right;
    font-size: 45px;
    font-weight: 300;
    color: white;
    line-height: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 6px 6px 8px rgb(68, 68, 68);
}

.home-hero-text span {
    font-weight: 700;
}

.hero-home-btn {
    width: 245px;
    height: 65px;
    margin-left: auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.hero-home-btn:hover {
    background-color: white;
    color: black;
}

/*----------------------- WELCOME */
.welcome {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.section-title {
    padding-top: 60px;
    padding-left: 60px;
}

.section-title::after {
    content: "";
    display: block;
    width: 55px;
    padding-bottom: 10px;
    border-bottom: 2px solid #1F4D84;
}

.section-title h4 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 100;
    line-height: 43px;
    margin: 0;
}

.section-title span {
    font-weight: 400;
}

.welcome-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.welcome-text {
    width: 42%;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-left: 60px;
    color: #141414;
}

.welcome-img {
    width: 50%;
    height: 640px;
    background-image: url(img/home/welcome/gold-coast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*----------------------- HISTORY */
.cascade-band {
    width: 100%;
    height: 500px;
    background-image: url(img/home/cascade/cascade-copia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.opacity {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.feature-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item img {
    height: 65px;
    margin-bottom: 30px;
}

.airplane-item img {
    height: 50px;
    margin-bottom: 45px;
}

.feature-text {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.feature-text span {
    font-weight: 100;
    font-size: 18px;
}